<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assign1.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <h1>Logo</h1>
            </div>
        </div>
        <div class="main">
            <div class="left">
                <h1>left Side</h1>
            </div>
            <div class="right">
                <h1>Right Side</h1>
            </div>
        </div>
        <div class="footer">
            <h1>Footer</h1>
        </div>
    </div>
</body>
</html>