<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assign3.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">

            </div>
            <div class="navbar">

            </div>
        </div>
        <div class="content">
            <div class="left-side">

            </div>
            <div class="right-side">
                <div class="upper-right">
                    <div class="big-box">

                    </div>
                    <div class="small-boxes">
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                        <div class="b1"></div>
                    </div>
                </div>
                <div class="lower-right">
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                        <div class="b"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>