<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assign2.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            
        </div>
        <div class="circle-container">
            <div class="circle1">
                
            </div>
            <div class="circle2">
                
            </div>
            <div class="circle3">
                
            </div>
        </div>
        <div class="box-container">
            <div class="box1">
                <h2>b1</h2>
            </div>
            <div class="box2">
                <h2>b2</h2>
            </div>
            <div class="box3">
                <h2>b3</h2>
            </div>
            <div class="box4">
                <h2>b4</h2>
            </div>
            <div class="box5">
                <h2>b5</h2>
            </div>
            <div class="box6">
                <h2>b6</h2>
            </div>
        </div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>