<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="float.css">
    <title>Float</title>
    <link rel="icon" href="images/fauxica.svg">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Header Section</h1>
        </div>
        <div class="main">
            <div class="left">
                <h2>Contents</h2>
                <hr>
                <ul>
                    <li>ram</li>
                    <li>rom</li>
                    <li>car</li>
                    <li>bus</li>
                </ul>
                <div class="s1">
                    <h1>audi</h1>
                </div>
                <div class="s2">
                    <h1>bmw</h1>
                </div>
            </div>
            <div class="center">
                <div class="img1">
                    <img src="images/clothing1.jpg" alt="" width="100%">
                </div>
                <div class="img2">
                    <img src="images/clothing2.jpg" alt="" width="100%">
                </div>
            </div>
            <div class="right">
                <h2>Blogs</h2>
                <hr>
                <p>hello</p>
                <p>hi</p>
                <p>bye</p>
                <p>bye</p>
            </div>
        </div>
        <div class="footer">
            <h1>Footer Section</h1>
        </div>
    </div>
</body>
</html>