<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture</title>
    <link rel="stylesheet" href="lecc.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>header</h1>
        </div>
        <div class="content">
            <div class="sidebar">
                <h1>Sidebar</h1>
                <p>
                    Main hu gyan. main hu bara takatwar. mera gala ha bht sureela. meri awaaz sun kr log hojate ha madhosh. samandar ke andar pineaaple ka ghr spongebob squarepants
                    nskdjfnkjsafnjksfnjdkfnsdjkfnsjka jnjaskfdnjksdfnajk  njkasnfjkdsnfjksnk jnas jdaskfnadsjkfnjksanf ajkfnksajnfkjadsfnkasdj san kjan
                </p>
            </div>
            <div class="rightcol">
                <h1>Right Column</h1>
                <div class="img1">
                    <img src="images/clothing1.jpg" alt="cloth" width="100%" height="360px">
                </div>
                <div class="img2">
                    <img src="images/clothing2.jpg" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="footer">
            <h1>Footer</h1>
        </div>
    </div>
</body>
</html>