html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "poppins";
}

.wrapper {
    max-width: 1200px;
    margin: 0 /*top and bottom means no white spaces b/w top and bottom*/ auto /*left and right*/;
}

header {
    display: flex; /*shows things in columns*/
    justify-content: space-between; /*brings space b/w logo and the buttons*/
    align-items: center;
}

nav {
    margin: 4em; /*or 40px*/
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 41px; /*or 4.1em*/
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px; /*rem is used for text 1.6rem*/
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: solid black 2px;
    bottom: -6px;
}

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.sub {
    font-size: 1.8rem;
}

.left-buttons {
    display: flex;
    gap: 2em;
}

.left-col{
    width: 45%;
}

.right-col{
    flex-grow: 1;
}

h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal; /*it will make bolder by default if not used*/
    margin: 0;
}

.dbutton1 {
    background-color: #F2F0DF;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1.8rem;
    border-radius: 1.9rem;
    padding: 1em 2em;
    margin-bottom: 0;
}

.dbutton2 {
    display: flex;
    gap: 2em;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 0;
}

.dbutton2 svg {
    width: 20px;
}

.left-buttons {
    margin: 5em 0;
}

.news {
    display: flex;
    gap: 3em;
    padding: 50px;
    border: 1px solid black;
    border-radius: 0.8em;
    position: relative;
}

.news:before {
    position: absolute;
    content: "";
}

p.employees {
    font-size: 3.3rem;
    margin: 0;
    font-weight: 200;
    line-height: 100%;
}

.details {
    font-size: 1.4rem;
    margin: 0;
}

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "left ."
        "left .";
}

.card {
    border-radius: 0.8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 150%;
}

.card1 {
    grid-area: left;
    background-image: url('../CS50W/images/clothing1.jpg');
    position: relative;
}
.card1:before{
    position: absolute;
    content: "";
    background: url(../CS50W/images/tag.svg) no-repeat;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -30px;
    pointer-events: none; /*without this the Faxica sport link cant be clicked*/
}

.card2 {

    background-image: url('../CS50W/images/clothing2.jpg');
}

.card3 {

    background-image: url('../CS50W/images/clothing3.jpg');
}

.card-details {
    display: flex;
    background: white;
    border-radius: 6em;
    padding: 2em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card-details a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
}

.card-details p {
    font-size: 1.4rem;
    margin: 0;
}